.reset() {
    font-family: Open Sans, sans-serif;
    div, span, object, iframe, img, table, caption, thead, tbody, ul, tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu, nav, footer, header, section, summary, mark, audio, video {
        border: 0;
        margin: 0;
        padding: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    address,
    cit,
    code,
    del,
    dfn,
    em,
    ins,
    q,
    samp,
    small,
    strong,
    ul,
    sub,
    sup,
    b,
    i,
    hr,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    legend,
    label {
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        margin: 0;
        padding: 0;
    }
    article,
    aside,
    canvas,
    figure,
    figure img,
    figcaption,
    hgroup,
    footer,
    header,
    nav,
    section,
    audio,
    video {
        display: block;
    }
    table {
        border-collapse: separate;
        border-spacing: 0;
        caption, th, td {
            text-align: left;
            vertical-align: middle;
        }
    }
    a img {
        border: 0;
    }
    :focus {
        outline: 0;
    }
}
.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
.gallerySect {
    .reset();
    h1 {text-align:center;padding:20px;}
    .galleryNav {border-bottom:1px solid #ddd;padding-bottom:8px;margin-bottom:8px;
        text-align:center;
        > span.label {display:inline-block;padding:2px 4px;
            button, input, select {margin-right:4px;}
        }
    }
    .pagination {
        border-top:1px solid #ddd;padding-top:8px;margin-top:8px;
        width: 100%;
        text-align: center;
        > li {
            height: 30px;
            width: 30px;
            display: inline-block;
            background: rgba(0, 0, 0, 0.03);
            border: 1px solid #ddd;
            border-left: medium none;
            color: #428bca;
            line-height: 30px;
            cursor: pointer;
            &.disabled {
                color: #ccc;
                cursor: default;
            }
            &:first-child {
                border-left: 1px solid #ddd;
                border-radius:2px 0 0 2px;
            }
            &:last-child {
                border-radius:0 2px 2px 0;
            }
        }
    }
    .slideShowPagination {
        text-align: center;
        li {
            display: inline-block;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.1);
            margin: 0px 4px;
            &.active {
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }
    .gallery {
        .clearfix();
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        &.slideShow {
            height: 400px;
            width: 600px;
            margin: 0 auto;
            position: relative;
            > li {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: auto;
                height: auto;
                opacity: 0;
                transition: all linear 0.4s;
                &.active {
                    opacity: 1;
                }
            }
        }
        > li {
            width: 300px;
            height: 200px;
            position: relative;
            overflow: hidden;
            display: inline-block;
            margin: 4px;
            button {
                position: absolute;
                top: 10px;
                left: 10px;
            }
            img {
                height: 100%;
                width: 100%;
                opacity: 0;
                -webkit-transition: all linear .4s;
                -moz-transition: all linear .4s;
                transition: all linear .4s;
            }
            p {
                position: absolute;
                height: 58px;
                bottom: 0;
                left: 0;
                text-align: left;
                right: 0;
                background: rgba(0, 0, 0, 0.8);
                color: #fff;
                padding: 6px;
                > span {
                    display: block;
                    padding: 4px 0;
                    &.title {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
            &.modal {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #333;
                height: 100%;
                width: 100%;
                margin: 0;
                z-index: 1000000;
                > img {
                    max-width: 90%;
                    max-height: 90%;
                    top: 50%;
                    left: 50%;
                    -ms-transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    position: absolute;
                    height: auto;
                    width: auto;
                }
                > p {
                    height: auto;
                    background: rgba(0, 0, 0, 0.1);
                }
                > i {
                    font-size: 20px;
                    font-style: normal;
                    cursor: pointer;
                    z-index: 10000000;
                    color: #fff;
                    &.closeModal {
                        position: absolute;
                        top: 20px;
                        left: 20px;
                    }
                    &.navigateModal {
                        position: absolute;
                        top: 50%;
                        left: 20px;
                        -ms-transform: translate(0, -50%);
                        -webkit-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        z-index: 10000000;
                        &.next {
                            right: 20px;
                            left: auto;
                        }
                    }
                }
            }
        }
        .spinner {
            -webkit-transition:all linear .4s;
            -moz-transition:all linear .4s;
            transition:all linear .4s;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 30px;
            text-align: center;
            font-size: 10px;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            > div {
                background-color: #333;
                height: 100%;
                width: 6px;
                display: inline-block;
                -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
                animation: stretchdelay 1.2s infinite ease-in-out;
            }
            .rect4 {
                -webkit-animation-delay: -0.9s;
                animation-delay: -0.9s;
            }
            .rect5 {
                -webkit-animation-delay: -0.8s;
                animation-delay: -0.8s;
            }
            .rect2 {
                -webkit-animation-delay: -1.1s;
                animation-delay: -1.1s;
            }
            .rect3 {
                -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
            }
        }
        @-webkit-keyframes stretchdelay {
            0%, 40%, 100% {
                -webkit-transform: scaleY(0.4)
            }
            20% {
                -webkit-transform: scaleY(1.0)
            }
        }
        @keyframes stretchdelay {
            0%, 40%, 100% {
                transform: scaleY(0.4);
                -webkit-transform: scaleY(0.4);
            }
            20% {
                transform: scaleY(1.0);
                -webkit-transform: scaleY(1.0);
            }
        }
    }
}
