<section class="gallerySect">
    <h1 ng-if="error">
        Could not load this images feed!
    </h1>
    <nav class="galleryNav" ng-if="!error">
        <span class="label">
        Search
        <input ng-model="configuration.searchText" ng-show="configuration.search === true" placeholder="Search" />
        </span>
        <span class="label">
            Order By
        <select ng-model="configuration.sortingMethod" ng-show="configuration.sorting === true">
            <option value="">Default</option>
            <option value="title">Title</option>
            <option value="date">Date</option>
        </select>
        </span>
        <span class="label">
            Results per page
        <select ng-model="configuration.resultsPerPage">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
        </span>
        <span class="label">
        <button ng-click="slideShowController.toggleSlideShow()">
            Display as a {{configuration.slideShow == true ? 'Grid':'SlideShow'}}
        </button>
        </span>
    </nav>
    <ul class="gallery" ng-class="{slideShow: configuration.slideShow}" ng-if="!error" ng-show="filteredImages.length">
        <li ng-repeat="img in filteredImages | orderBy:configuration.sortingMethod | offset: paginationController.currentPage*configuration.resultsPerPage | limitTo: configuration.resultsPerPage" ng-class="{'active': slideShowController.currentSlide == $index, 'modal': (modalController.modalOpen != false && modalController.modalIndex == $index)}">
            <img ng-src="{{img.url}}" ng-click="modalController.toggleModal($index)" imageload />
            <p ng-click="modalController.toggleModal($index)">
                <span class="title">{{img.title}}</span>
                <span class="date">{{img.date | date:'MM/dd/yyyy @ h:mma'}}</span>
            </p>
            <i ng-click="modalController.closeModal()" class="closeModal" ng-show="modalController.modalOpen == true">X</i>
            <i ng-click="modalController.modalNext()" class="navigateModal next" ng-show="modalController.modalOpen == true">></i>
            <i ng-click="modalController.modalPrev()" class="navigateModal" ng-show="modalController.modalOpen == true"><</i>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </li>
    </ul>
    <h1 ng-hide="filteredImages.length">
        No results!
    </h1>
    <ul class="slideShowPagination" ng-if="configuration.slideShow == true" ng-if="!error">
        <li ng-repeat="slide in slideShowController.range()" ng-class="{active: slideShowController.currentSlide == $index}"></li>
    </ul>
    <nav class="paginationNav" ng-if="!error">
        <ul class="pagination">
            <li ng-class="{disabled : paginationController.prevPageDisabled()}" ng-click="paginationController.prevPage()">
                <span>
                    «    
                    </span>
            </li><li ng-repeat="n in paginationController.range()" ng-click="paginationController.setPage(n)" ng-class="{disabled: $index == paginationController.currentPage}">
                <span>{{n+1}}</span>
            </li><li ng-class="{disabled : paginationController.nextPageDisabled()}" ng-click="paginationController.nextPage()">
                <span>
                    »    
                    </span>
            </li>
        </ul>
    </nav>
</section>